<div class="ice-day">
  <div class="ice-day-div">
    <div class="offer-div">
      <img class="offer-logo" src="../../assets/images/ices.png" alt="offer" />
      <div class="offer-content">
        <h4 class="best-offer">Best offer</h4>
        <button class="offer-button">Get Started</button>
      </div>
    </div>
  </div>
  <p class="ice-day-p">Ice cream of the day</p>
  <div class="ice-day-content">
    <img class="ice-img" src="../../assets/images/ice.jpg" alt="ice-day" />
    <p class="ice-name">Fun Holiday</p>
    <p class="ice-rate">$3.49</p>
  </div>
  <div class="girl-div">
    <img src="../../assets/images/girl.png" alt="girl" class="girl-img" />
  </div>
</div>
<div class="blog-div">
  <div class="blog-box">
    <input
      class="blog-input"
      type="email"
      name="blog"
      id="blog"
      placeholder="Subscribe to Our Blog"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="64"
      viewBox="-10 -8 44 44"
      width="64"
      fill="white"
    >
      <path
        d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"
      />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </div>
</div>
