.thought {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.thought-head {
  text-align: center;
  font-size: 200%;
}
.thought-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2%;
  padding: 2%;
}
.thought-grid > a {
  text-decoration: none;
  box-shadow: 0px 2px 10px 1px rgba(200, 200, 200, 0.25);
}
.thought-grid > a:hover {
  box-shadow: 0px 2px 10px 3px rgba(200, 200, 200, 0.25);
}
.thought-title {
  color: black;
  font-size: 200%;
  font-weight: bolder;
  padding: 2%;
}
.thought-image {
  width: 95%;
  padding: 2%;
}
.thought-learn {
  color: orange;
  font-weight: bolder;
  padding: 2%;
}
