<div class="thought">
  <h4 class="thought-head">Thoughts & Opinions</h4>
  <div class="thought-grid">
    <a href="">
      <div>
        <img
          class="thought-image"
          src="../../assets/images/tech.jpg"
          alt="thoughts"
        />
        <p class="thought-title">
          Will Coding Be The Blue Collar Job Of The Future?
        </p>
        <p class="thought-learn">Learn More</p>
      </div>
    </a>
    <a href="">
      <div>
        <img
          class="thought-image"
          src="../../assets/images/tech1.jpg"
          alt="thoughts"
        />
        <p class="thought-title">Exciting facts about Angular2</p>
        <p class="thought-learn">Learn More</p>
      </div>
    </a>
    <a href="">
      <div>
        <img
          class="thought-image"
          src="../../assets/images/tech.jpg"
          alt="thoughts"
        />
        <p class="thought-title">What are Chatbots?</p>
        <p class="thought-learn">Learn More</p>
      </div>
    </a>
    <a href="">
      <div>
        <img
          class="thought-image"
          src="../../assets/images/tech1.jpg"
          alt="thoughts"
        />
        <p class="thought-title">What is IoT?</p>
        <p class="thought-learn">Learn More</p>
      </div>
    </a>
    <a href="">
      <div>
        <img
          class="thought-image"
          src="../../assets/images/tech.jpg"
          alt="thoughts"
        />
        <p class="thought-title">React Server-Side Rendering</p>
        <p class="thought-learn">Learn More</p>
      </div>
    </a>
    <a href="">
      <div>
        <img
          class="thought-image"
          src="../../assets/images/tech1.jpg"
          alt="thoughts"
        />
        <p class="thought-title">What are Chatbots?</p>
        <p class="thought-learn">Learn More</p>
      </div>
    </a>
  </div>
</div>
<br />
