.tech {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tech-header {
  text-align: center;
  font-weight: bolder;
}
.tech-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  grid-gap: 5%;
}
.tech-flex > h4 {
  font-size: 120%;
}
img {
  border: 1px solid skyblue;
}
