<div class="healthy-content-div">
  <h2 class="healthy-header">
    <span class="highlight">Healthy cream</span> is the key<br />to your good
    mood
  </h2>
  <br /><br />
  <div class="display-grid">
    <div class="grid-items">
      <img
        src="../../assets/images/banana.png"
        alt="fruit"
        class="grid-image"
      />
      <p class="grid-title">Rotating balance</p>
      <p class="grid-content">
        Choosing healthy foods is a smart thing to do no matter how old
      </p>
    </div>
    <div class="grid-items">
      <img
        src="../../assets/images/strawberry.png"
        alt="fruit"
        class="grid-image"
      />
      <p class="grid-title">Organic ingredients</p>
      <p class="grid-content">
        When it comes to convienience and pleasure, let the whole world wait
      </p>
    </div>
    <div class="grid-items">
      <img
        src="../../assets/images/orange.png"
        alt="fruit"
        class="grid-image"
      />
      <p class="grid-title">Nothing GMO</p>
      <p class="grid-content">
        Only natural products, we care about the health of our customers
      </p>
    </div>
  </div>
</div>
