.navbar-div {
  background: #efefef;
  padding: 2%;
  color: whitesmoke;
}

.navbar-div > h1 {
  margin: 0;
  background: black;
  width: 14%;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2%;
}

.navbar-div > h1 > span {
  margin: 2%;
  font-size: xx-large;
  color: red;
}
