<div class="work">
  <div class="work-header">
    <h4>Our work in action</h4>
    <p>
      Codingmart brings together a distinctive set of software building
      capabilities to help our cloients on <br />their digital journey. Be it a
      large enterprise or a startup growing exponentially.
    </p>
  </div>
  <div class="work-grid">
    <a href="">
      <div class="work-flex">
        <p class="work-tag">Entertainment</p>
        <p class="work-desc">
          India’s largest entertainment ticketing website collaborates with
          Codingmart to increase their International outbound
        </p>
        <p class="work-explore">Explore</p>
      </div>
    </a>
    <a href="">
      <div class="work-flex">
        <p class="work-tag">Entertainment</p>
        <p class="work-desc">
          Codingmart band together with a travel conglomerate from Europe to go
          online
        </p>
        <p class="work-explore">Explore</p>
      </div>
    </a>
    <a href="">
      <div class="work-flex">
        <p class="work-tag">Health</p>
        <p class="work-desc">
          Codingmart helped one of the largest online healthcare aggregators to
          build their accounting system.
        </p>
        <p class="work-explore">Explore</p>
      </div>
    </a>
    <a href="">
      <div class="work-flex">
        <p class="work-tag">Travel</p>
        <p class="work-desc">
          One of the largest OTAs in India engaged Codingmart to build their new
          line of business.
        </p>
        <p class="work-explore">Explore</p>
      </div>
    </a>
    <a href="">
      <div class="work-flex">
        <p class="work-tag">Travel</p>
        <p class="work-desc">
          One of the largest OTAs in India engaged Codingmart to build their new
          line of business.
        </p>
        <p class="work-explore">Explore</p>
      </div>
    </a>
    <a href="">
      <div class="work-flex">
        <p class="work-tag">Travel</p>
        <p class="work-desc">
          How India’s largest ride hailing company hired Codingmart to bring in
          personalization onto its OTT Platform
        </p>
        <p class="work-explore">Explore</p>
      </div>
    </a>
  </div>
  <img
    class="service-img"
    src="../../assets/images/service2.png"
    alt="service2"
  />
</div>
<br />
