<div class="services">
  <div class="center-head">
    <h1>Explore our digital transformation services</h1>
    <p>
      Codingmart brings together a distinctive set of software building
      capabilities to help our clients on their digital<br />
      journey. Be it a large enterprise or a startup growing exponentially, we
      can build software solutons for your<br />
      complex every day problems.
    </p>
  </div>
  <div class="service-image-grid">
    <div>
      <h4>DevOps and IT<br />Infrastructure</h4>
      <a class="service-grid-link" href="#">Learn more</a>
    </div>
    <div>
      <h4>Enterprise platforms, <br />Tools and Automation</h4>
      <a class="service-grid-link" href="#">Learn more</a>
    </div>
    <div>
      <h4>
        Application<br />
        Development-Web,<br />
        Mobile and PWA
      </h4>
      <a class="service-grid-link" href="#">Learn more</a>
    </div>
    <div>
      <h4>IT Strategy and <br />Consulting</h4>
      <a class="service-grid-link" href="#">Learn more</a>
    </div>
  </div>
  <br />
  <img
    class="service-image"
    src="../../assets/images/service.png"
    alt="service"
  />
</div>
