.loginDiv {
  background-image: url("../../assets/images/desk.jpeg");
  background-size: cover;
  height: 97.87vh;
  display: flex;
  align-items: center;
}
.loginForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #033fe480;
  padding: 10%;
  margin: 0 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.loginForm > input {
  height: 5vh;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.7%;
}

::placeholder {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-div {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loginButton {
  padding: 2%;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  background: orange;
  color: whitesmoke;
  font-weight: 800;
  border-radius: 25px;
  cursor: pointer;
}
.loginButton:hover {
  background: darkorange;
}
.button-div > em > a {
  color: whitesmoke;
  text-decoration: none;
}
.button-div > em > a:hover {
  color: orange;
}
