* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: black;
  color: whitesmoke;
}
.header {
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: yellow;
  color: black;
  width: 13%;
}
hr {
  width: 80%;
}
h1,
h4 {
  text-align: center;
}
#remote-container video {
  width: 10%;
  position: relative !important;
}
#me {
  position: relative;
  width: 17%;
  margin: 0 auto;
  display: block;
}
#me video {
  position: relative !important;
}
#remote-container {
  display: flex;
  width: 27%;
}
.call-cut {
  display: flex;
  justify-content: center;
}
.call-cut > i {
  background: red;
  color: white;
  border-radius: 100%;
  padding: 1%;
  cursor: pointer;
}
.button-div {
  display: flex;
  justify-content: center;
}
.desc-grid {
  display: grid;
  grid-template-columns: auto;
}
.image-desc > img {
  width: 40%;
}
.image-desc,
.content-desc {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 1% 2%;
}
.enter-button {
  background: yellow;
  padding: 1% 2%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-size: larger;
}
.enter-button:hover {
  background: white;
}

.content-desc {
  background: yellow;
  margin: 1% 10%;
  font-size: x-large;
  color: black;
}

.image-desc {
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  margin: 2%;
}
